[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "themes/themes/hugo.386"]
	path = themes/themes/hugo.386
	url = https://gitlab.com/jmfergeau/hugo.386
[submodule "themes/hugo.386"]
	path = themes/hugo.386
	url = https://gitlab.com/jmfergeau/hugo.386
[submodule "themes/risotto"]
	path = themes/risotto
	url = https://github.com/joeroe/risotto.git
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/hello-friend"]
	path = themes/hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend.git
